{
  "extends": ["plugin:prettier/recommended", "plugin:import/errors", "plugin:import/warnings"],
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}