:root {
  --header-height: 125px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: var(--header-height);
  position: relative;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  flex: 1;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.header-bottom-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-container {
  height: calc(100vh - var(--header-height));
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-board-button {
  white-space: nowrap;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
}