.scroll-container {
  height: 100%;
}

.board {
  position: relative;
  width: 2000px;
  height: 1700px;
  overflow: auto;
  background-color: white;
  display: block;
  display: flex;
  justify-content: start;
  align-items: start;
}