:root {
  --border-size: 2px;
}

.container {
  height: 70px;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.content {
  height: 50px;
  width: 100%;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  border: var(--border-size) solid transparent;
}

.content:hover {
  background-color: rgb(233, 233, 233);
}

.selected {
  background-color: rgb(172, 223, 255);
  border: var(--border-size) solid lightskyblue;
}

.closed {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opened {
  padding-left: 3px;
  margin: 0 10px 0 10px;
}

.content.selected:hover {
  background-color: rgb(172, 223, 255);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 10px;
  font-size: 20px;
}

.label {
  font-size: 18px;
}