.container {
  height: 70px;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.content {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid transparent;
}

.content:hover {
  background-color: rgb(233, 233, 233);
}

.selected {
  background-color: rgb(172, 223, 255);
  border: 3px solid lightskyblue;
}

.content.selected:hover {
  background-color: rgb(172, 223, 255);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 10px;
  font-size: 20px;
}