.actions {
  height: 100%;
}

.actionButton {
  padding: 0 10px;
  color: black;
  border: none;
  background-color: transparent;
}

.actionButton:hover,
.actionButton:active,
.actionButton:focus-visible {
  color: black !important;
  border: none !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
}