.container {
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
}

.content {
  overflow-y: auto;
}

.board-item {
  display: flex;
  justify-content: start;
  align-items: end;
}

.circle {
  border-radius: 50%;
  border: 1px solid lightslategray;
}

.title {
  flex: 1;
}

.title:hover {
  text-decoration: underline;
  cursor: pointer;
}