.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-content {
  flex: 1;
  padding: 10px;
  overflow: auto;
}

.post {
  position: relative;
  width: 100%;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  cursor: pointer;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

.section {
  display: flex;
  align-items: center;
  height: 30px;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.comments {
  padding: 0 40px;
}