.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
  padding: 10px;
  overflow: auto;
}

.post {
  position: relative;
  width: 100%;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  cursor: pointer;
}