.root {
  width: 100vw;
  height: 100vh;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between !important;
  padding: 10px !important;
}

.content {
  padding-top: 230px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: auto;
}