.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.6);
}

.button:hover {
  color: black;
}

.button::after {
  display: none;
}