@font-face {
  font-family: "LittlePea";
  src: local("LittlePea"),
    url("./assets/fonts/littlepea/LittlePea-Demo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DINRoundPro";
  src: local("DINRoundPro"),
    url("./assets/fonts/dinround/DINRoundPro-Medi.ttf") format("truetype");
}

* {
  font-family: "DINRoundPro";
}

.fc-day {
  border: 1px solid rgb(197, 197, 197);
}

.clickable-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (max-width: 760px) {
  .container-margin-bottom {
    margin-bottom: 70px;
  }
}