.header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid rgb(235, 235, 235);
  height: 69px;
}

.select {
  width: 200px;
  margin: 6px;
  border: 1px solid transparent;
}


.item {
  height: 40px;
}