.note {
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grab {
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}

.wrapper-class {
  border: 1px solid #ccc;
  border-radius: 0.375rem;
}

.editor-class {
  /* padding: 0 !important; */
  background-color: white;
  border-radius: 0.375rem;
}